h1 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

h2 {
    text-align: left;
    margin-left: 10px;
    color: white;
}

.collection {
    text-align: left;
    margin-left: 10px;
    color: white;
}


h3 {
    text-align: center;
    color: white;
}

.cards {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    height: 100vh;
}

.cards li {
    flex: 1 0 33.33%;
}



.card {
    background-color: #f0d397;
    border: 2px solid  rgba(0, 0, 0, 0.74);
    padding: 0.7rem;
    margin: 0.5rem 0;
    border-radius: 5%;
    height: 150px; 
}
.card:hover {
    transform: translateY(0) scale(1.1);
    box-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.74);
}

.card--edit {
    cursor: pointer;
    margin-right: 10px;
    background-color: white;
    border: none;
    border-radius: 10%;

}

.card--edit:hover {
    background-color: rgb(0, 191, 255);
    color: black;
    transform: translateY(0) scale(1.1);
    box-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.74);
}

.card--delete {
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 10%;
}

.card--delete:hover {
    background-color: red;
    color: black;
    transform: translateY(0) scale(1.1);
    box-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.74);
}

.sell--card {
    cursor: pointer;
    margin-right: 10px;
    background-color: white;
    border: none;
    border-radius: 10%;

}

.sell--card:hover {
    background-color: lightgreen;
    color: black;
    transform: translateY(0) scale(1.1);
    box-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.74);
}

.card__footer {
    display: flex;
    padding: 1rem 0 0 0;
    border-top: 1px dashed rgb(255, 234, 182);
    margin: 1rem 0 0 0;
}

.card__header {
    font-size: large;
    padding: 0 0 1rem 0;

}

.btn-primary {
    cursor: pointer;

}

.btn-primary:hover {
    background-color: lightblue;
    color: black
}

.add--card {
    cursor: pointer;
    margin-right: 10px;
    border: none;
    padding: 20px;
    background-color: white;
    border-radius: 10%;


}

.add--card:hover {
    background-color: rgb(0, 191, 255);
    color: black;
    transform: translateY(0) scale(1.1);
    box-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.74);
}

.to--sell {
    cursor: pointer;
    margin-right: 10px;
    border: none;
    padding: 20px;
    background-color: white;
    border-radius: 10%;

}

.to--sell:hover {
    background-color: lightgreen;
    color: black;
    transform: translateY(0) scale(1.1);
    box-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.74);
}

.all--cards {
    cursor: pointer;
    border: none;
    padding: 20px;
    background-color: white;
    border-radius: 10%;

}

.all--cards:hover {
    background-color: #f0d397;
    color: black;
    transform: translateY(0) scale(1.1);
    box-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.74);
}

.my--buttons {

    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.search--bar {
    float: right;
    margin-top: 550px;
    margin-right: 10px;


}

.cardForm {
    margin-left: 30px;
}

.logo {
    width: 400px;
    height: 400px;
    align-content: center;


}

.form-group {
    color: white;
}

.cardimage {
    width: 100px;
    height: 130px;
   float: right
    
}