h1 {
    text-align: center;
}

h2 {
    text-align: left;
    margin-left: 10px;
}

h3 {
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: rgb(255, 249, 242);
    border: 1px solid rgb(0, 8, 255);
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.card--edit {
    cursor: pointer;
    margin-right: 10px;
}

.card--edit:hover {
    background-color: lightgreen;
    color: black
}

.card--delete {
    cursor: pointer;
}

.card--delete:hover {
    background-color: red;
    color: black
}

.sell--card {
    cursor: pointer;
    margin-right: 10px;
}

.sell--card:hover {
    background-color: yellow ;
    color: black;
}

.card__footer {
    display: flex;
    padding: 1rem 0 0 0;
    border-top: 1px dashed rgb(255, 234, 182);
    margin: 1rem 0 0 0;
}

.card__header {
    font-size: large;
    padding: 0 0 1rem 0;

}

.btn-primary {
    cursor: pointer;
}

.btn-primary:hover {
    background-color: lightblue;
    color: black
}

.add--card {
    cursor: pointer;
    margin-right: 10px;
}

.add--card:hover {
    background-color: lightblue;
    color: black
}

.to--sell {
    cursor: pointer;
    margin-right: 10px;
}

.to--sell:hover {
    background-color: lightgreen;
    color: black
}

.all--cards {
    cursor: pointer;
}

.all--cards:hover {
    background-color: yellow;
    color: black
}

.my--buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-left: 180px
}

.search--bar {
    float: right;
    margin-top: 70px;
    margin-right: 10px;

}

.cardForm {
    margin-left: 30px;
}